#site-header {
  position: sticky;
  top: 0;
  width: 100%;
  color: #333;
}

h1 {
  color: blueviolet;
}

nav {
  background-color: #333;
  padding: 10px;
  flex-flow: column;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* .pho {
  width: 100px;
  display: flex;
  flex-direction: column;
  border: 3px solid #000000;
} */

.pho {
  display: flex;
  flex-direction: row; /* nebeneinander */
  border: 3px solid #000000; /* schwarzer Rahmen */
  justify-content: center;
  gap: 0px;
  padding: 20px; /* Abstand vom Rahmen zu den Bildern */
  width: fit-content; /* Breite passt sich automatisch an den Inhalt an */
  margin: 0 auto; /* Mitte auf der Seite */
}

.pho img {
  width: 300px;
  height: auto;
}
